@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-md-center p-5">
        <h5>Using an SDK generated from the <a href="https://api.ed-fi.org/v5.0.0/docs/" target="_blank">Ed-Fi ODS / API Suite 3 v5.0.0</a> <a href="https://api.ed-fi.org/v5.0.0/api/metadata/data/v3/resources/swagger.json" target="_blank">Resource OpenApi specification</a>, this starter kit app is a demonstration of some of the capabilities Ed-Fi Change Queries API, a few different views of the that data, and some Ed-Fi API Client best practices. This starter kit application does not implement any security measures to protect student data or API key and secret information. DO NOT USE WITH REAL DATA. This demonstrative application is pre configured to use the Ed-Fi public deployment of the Ed-Fi ODS/API Suite 3 v5.0.0</h5>
    </div>
    <div>
        <h6 class="text-lg-left">Top Navigation Menu Items</h6>
        <p class="text-left">
            <ul class="text-left justify-content-end">
                <li>
                    <a class="nav-item text-dark" asp-area="" asp-controller="EdFiApiSettings" asp-action="Index">Ed-Fi Api Settings</a> – Page that enables the configuration of the url, key and secret of the API that this starter kit example application will interact with
                </li>
                <li>
                    <a class="nav-item text-dark" asp-area="" asp-controller="ApiLog" asp-action="Index">Logs</a> – This shows a log of API transactions
                </li>
            </ul>
        </p>
    </div>
</div>
