@model ChangeQueryViewModel

@{
    ViewData["Title"] = "Change Queries";
}

<h1>Change Queries</h1>
<p> Sync data from the configured Ed - Fi API</p>

@{ await Html.RenderPartialAsync("_SyncData", Model); }

@section Scripts {
    <script>
        var addSpinner = window.addSpinner;
        $(document).ready(function () {
            $("#btnSyncData").click(function () {
                addSpinner($(this), "Syncing");
            });

            $("[id^='btnCallDetails']").on('click', function () {
                var text = $(this).val();
                if (text === "Show call details") {
                    $(this).val('Hide call details');
                } else {
                    $(this).val('Show call details');
                }
            });
        });
    </script>
}
