@model ChangeQueryViewModel

@{
    ViewData["Title"] = "Change Queries";
}

<h1>Change Queries</h1>
<p> Sync data from the configured Ed - Fi API</p>

<div id="syncDataResults">
    @{ await Html.RenderPartialAsync("_SyncData", Model); }
</div>

@section Scripts {
    <script>
        var addSpinner = window.addSpinner;
        $(document).ready(function () {
            $("#btnSyncData").click(function () {
                addSpinner($(this), "Syncing");

                var url = '@Url.Action("SyncData")';
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: "html",
                    success: function (response, textStatus, jqXHR) {
                        $("#syncDataResults").html(response);
                    },
                    error: function (response, textStatus, jqXHR) {
                        alert("A background request against " + url + " has failed. See your browser's developer tools for diagnostic information.");
                    }
                });
            });

            $("[id^='btnCallDetails']").on('click', function () {
                var text = $(this).val();
                if (text === "Show call details") {
                    $(this).val('Hide call details');
                } else {
                    $(this).val('Show call details');
                }
            });
        });
    </script>
}
