@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-md-center p-5">
        <h5>Using an SDK generated from the <a href="https://api.ed-fi.org/v5.2/docs/" target="_blank">Ed-Fi ODS / API Suite 3 v5.2</a> <a href="https://api.ed-fi.org/v5.2/api/metadata/composites/v1/ed-fi/enrollment/swagger.json" target="_blank">Enrollment Composite OpenApi specification</a>, this starter kit app is a demonstration of some of the capabilities Ed-Fi Enrollment Composite API, a few different views of the that data, and some Ed-Fi API Client best practices. This starter kit application does not implement any security measures to protect student data or API key and secret information. DO NOT USE WITH REAL DATA. This demostrative application is pre configured to use the Ed-Fi public deployment of the Ed-Fi ODS/API Suite 3 v5.2</h5>
    </div>
    <div>
        <h6 class="text-lg-left">Top Navigation Menu Items</h6>
        <p class="text-left">
            <ul class="text-left justify-content-end">
                <li>
                    <a class="nav-item text-dark" asp-area="" asp-controller="EdFiApiSettings" asp-action="Index">Ed-Fi Api Settings</a> – Page that enables the configuration of the url, key and secret of the API that this starter kit example application will interact with
                </li>
                <li>
                    <a class="nav-item text-dark" asp-area="" asp-controller="GetFullRoster" asp-action="Index">Full Roster</a> – Pull all the roster information available via the Ed-Fi Enrollment Composite and shows the calls that were used
                </li>
                <li>
                    <a class="nav-item text-dark" asp-area="" asp-controller="LocalEducationAgencies" asp-action="Index">LEAs</a> – Shows local education agencies that are currently saved in the app and has button to retrieve a new set of local education agencies from the configured Ed-Fi API
                </li>
                <li>
                    <a class="nav-item text-dark" asp-area="" asp-controller="Schools" asp-action="Index">Schools</a> - Shows schools that are currently saved in the app and has button to retrieve a new set of local education agencies from the configured Ed-Fi API
                </li>
                <li>
                    <a class="nav-item text-dark" asp-area="" asp-controller="Staff" asp-action="Index">Staff</a> - Shows schools that are currently saved in the app and has button to retrieve a new set of local education agencies from the configured Ed-Fi API
                </li>
                <li>
                    <a class="nav-item text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a> - Shows students that are currently saved in the app and has button to retrieve a new set of local education agencies from the configured Ed-Fi API
                </li>
                <li>
                    <a class="nav-item text-dark" asp-area="" asp-controller="Sections" asp-action="Index">Sections</a> - Shows sections that are currently saved in the app and has button to retrieve a new set of local education agencies from the configured Ed-Fi API
                </li>
                <li>
                    <a class="nav-item text-dark" asp-area="" asp-controller="Roster" asp-action="Index">Roster</a> – This has links to three different tree views of the data retrieved from the Ed-Fi Enrollment Composite.
                </li>
                <li>
                    <a class="nav-item text-dark" asp-area="" asp-controller="Log" asp-action="Index">Logs</a> – This shows a log of API transactions
                </li>
            </ul>
        </p>
    </div>
</div>
